/* font area start */
/*@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
    font-family: 'flaticon';
    src: url('assets/fonts/flaticon.eot?49384070');
    src: url('assets/fonts/flaticon.eot?49384070#iefix') format('embedded-opentype'),
    url('assets/fonts/flaticon.woff?49384070') format('woff'),
    url('assets/fonts/flaticon.ttf?49384070') format('truetype'),
    url('assets/fonts/flaticon.svg?49384070#flaticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'flaticon';
        src: url('assets/fonts/flaticon.svg?49384070#flaticon') format('svg');
    }
}

/* [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
margin-left: 20px; */

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: "flaticon";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
  //  width: 1em;
    margin-right: .05em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1.2em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .05em;

    /* you can be more comfortable with increased icons size */
    font-size: 142%;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.flaticon-black183:before {
    content: "\e000";
}
.flaticon-calendar68:before {
    content: "\e001";
}
.flaticon-grocery6:before {
    content: "\e002";
}
.flaticon-headphone4:before {
    content: "\e003";
}
.flaticon-landscape:before {
    content: "\e004";
}
.flaticon-magnifier13:before {
    content: "\e005";
}
.flaticon-month1:before {
    content: "\e006";
}
.flaticon-music170:before {
    content: "\e007";
}
.flaticon-mute8:before {
    content: "\e008";
}
.flaticon-next9:before {
    content: "\e009";
}
.flaticon-pause8:before {
    content: "\e00a";
    margin-left: .45em;
    line-height: 1.74em;
    font-size: 100%;
}
.flaticon-play36:before {
    content: "\e00b";
    margin-left: .13em;
}
.flaticon-previous7:before {
    content: "\e00c";
}
.flaticon-small26:before {
    content: "\e00d";
}
.flaticon-speaker73:before {
    content: "\e00e";
}
.flaticon-video107:before {
    content: "\e00f";
}
.flaticon-volume24:before {
    content: "\e010";
}



/* font area end */

::root {
  var-advWidth: 200px;
}

#navBar {
    position: fixed;
    top: 0;
    left: 280px;
    right: 0;
    background: #3498db;
    height: 30px;
    padding: 10px;
    z-index: 999;
    display: inline;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content {
    background: #333;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

._content {
    background: #101010;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

#centerContainer {
    position: absolute;
    top: 50px;
    background: #333;
    margin-left: 280px;
    margin-right:200px;
    padding: 10px;
}

html>body #centerContainer {
    margin-left: 280px;
    margin-right:200px;
}

#advSpace {    
    background: green;
    position: fixed;
    right:0px;
    top:50px;
    bottom:0px;
    width: 200px;
}

#mainContainer {
    
}

#sideNav {
    position: fixed;
    top: 0;
    z-index: 999;
    background: #1f1f1f;
    width:280px;
    height:100%;
    padding:0px;
    float:left;
}

html, body { height: 100%; width: 100%; margin: 0; }

.navBarPlayer {
    display: inline-block;
    vertical-align:top;
    width: 130px;
}

.navBarSideBtn {
    background: transparent;
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;

    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;

    border: 1px;
    border-color: #e0f4fe;
    border-style: solid;
}

.sideBtnBarSpacer {
    height: 11.11%;
}
.sideBtnBar {
    background: #e0f4fe;
    height: 11.11%;
    width: 55.555%;
    margin-top: 11.11%;
    margin-left: 22.22%;
}

.navBarRwBtn, .navBarFfBtn, .navBarPauseBtn, .navBarPlayBtn {
    background: transparent;
  //  background: #c2c2c2;
    color:  #e0f4fe;
  //  color: red;
    position: relative;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    display: inline-block;

    vertical-align:top;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    border: 2px;
    border-color: #e0f4fe;
    border-style: solid;
}

#navBarTitle {
  //  background: magenta;
    position: relative;
   // width: 300px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    font-size: 175%;
    vertical-align:top;
    color: #e0f4fe;
}

#navBarTitle, .navBarSideBtn {
    margin-bottom: 20px;
}

.postSummary {
    position: relative;
    width:400px;
    //height:475px;
    background: #1f1f1f;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: hidden;
   // min-height: 250px;
}

.postScreen {
    position: fixed;
    background: #0f0f0f;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.postBoard {
    position: relative;
	display: block;
    background: white;
    width: 96%;
	height: 80%;
	max-width: 700px;
	max-height:700px;
	top: 10%;
	margin: auto;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.postBody {
}

.postBoard .postBody .videoContainer {
    width: 100%;
    padding-bottom: 60%;
   // padding-bottom: 50%;
    position: relative;
}

.postBoard .postBody .videoContainer > iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

 .videoContainer {
    width: 100%;
    padding-bottom: 60%;
// padding-bottom: 50%;
    position: relative;
}

.videoContainer > iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.postSummaryFooter {
    background: gray;
	width: 100%;
	height: 20px;
	margin-top: 5px;
  //  position: absolute;
    bottom: 7px;
}

.postSummaryContent {
    min-height: 175px;
    color: #c2c2c2;
}

.postSummaryExpander {
    background: #3498db;
	width: 20px;
	height: 20px;
	position: relative;
	top: 0;
	left: 15px;
}

.postSummaryTitle {
    color: #fff;
    font-size: 130%;
    font-family: 'Lato';
    margin-bottom: 5px;
}

.menuItem {
    color: #fff;
    font-size: 130%;
    margin-bottom: 1px;
    width: 100%;
    background: #101010;
    overflow: hidden;

}

.menuItem, .postSummaryExpander, #navBarTitle, .navBarSideBtn, .navBarPlayBtn, .navBarRwBtn, .navBarFfBtn, .navBarPauseBtn {
    cursor: pointer; cursor: hand;
}

.postThumbnail {
    float: left;
}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 0 0}

.continueReading {
	visibility: hidden;
}

.postColumn {
    display: inline-block;
    vertical-align:top;
}

a {
    color: #fff;
}
